.classpath.txt
target
.classpath
.project
.idea
.settings
.vscode
*.iml

# CDK asset staging directory
.cdk.staging
cdk.out


.java-version
software/FunctionTwo/src/main/java/helloworld/.DS_Store

software/FunctionTwo/src/main/java/.DS_Store
