name: Merge me!

on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]

jobs:
  merge-me:
    name: Merge me!
    if: >
      ${{ github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success' &&
      github.base_ref == 'main' &&
      github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Merge me!
        uses: actions/github-script@0.2.0
        with:
          script: |
            github.pullRequests.createReview({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.pull_request.number,
              event: 'APPROVE'
            })
            github.pullRequests.merge({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.pull_request.number,
              merge_method: 'squash'
            })
          github-token: ${{ secrets.MERGE }}